/*

       Awesome Thunderbird
              __
             /'{>
         ____) (____
       //'--;   ;--'\\
      ///////\_/\\\\\\\
             m m

     
  by d13g0, made with <3 in Toronto

*/

/* ------------------------------------------------------------------------------------------------*/
/* Variables
/* ------------------------------------------------------------------------------------------------*/
:root {
  --at-font-family  : SF Pro;
  --at-text-sm      : 11px;
  --at-text-base    : 13px;
  --at-text-lg      : 15px;
  

  
  /* Light Theme Colors */
  
  --at-color-white     : #ffffff;
  --at-color-white-2   : #eeeeee;
  --at-color-white-3   : #e0e0e0;
  
  
  --at-color-gray      : #828997;
  --at-color-gray-2    : #DADCE0;
  
  
  --at-color-black     : #000000;
  --at-color-black-2   : #282c34;
  
  --at-color-red       : #be5046;
  --at-color-red-2     : #e06c75;
  
  --at-color-green     : #008700;
  
  --at-color-yellow    : #d19a66;
  --at-color-yellow-2  : #ffffaf;
  
  --at-color-blue      : #61afef; 
  --at-color-blue-2    : #d0edff;
  --at-color-blue-3    : #f0f3f7;
  
  --at-color-magenta   : #c678dd;
  --at-color-cyan      : #56b6c2;
  
  


   /** Dark Theme Colors (wip)
  --at-dt-white     : #abb2bf;
  --at-dt-black     : #282c34;
  --at-dt-red       : #be5046;
  --at-dt-red-2     : #e06c75;
  --at-dt-green     : #98c379;
  --at-dt-yellow    : #d19a66;
  --at-dt-yellow-2  : #e5c07b;
  --at-dt-blue      : #61afef; 
  --at-dt-magenta   : #c678dd;
  --at-dt-cyan      : #56b6c2;
  --at-dt-gray      : #4b5263;
  --at-dt-gray-2    : #5c6370;
  */
  
    
  --at-bg-color     : #282C34;
  --at-fg-color     : #AAB2BF;
  
  --at-white        : #FFF;
  --at-blue         : #999;
  --at-blue-bright  : #528BFF;
  --at-gray         : #636D83;
  
  
  
  /* Folder List */
  --at-folder-item-height : 28px;
  
  /* Mail List */
  --at-mail-grid-color              : var(--at-color-blue-3);
  --at-new-mail-folder-color        : var(--at-color-blue);
    
  --at-mail-item-selected-bg-color  : var(--at-color-blue); 
  --at-mail-item-selected-fg-color  : var(--at-color-white);
  
  --at-mail-item-hover-bg-color     : var(--at-color-white-3);
  --at-mail-item-hover-fg-color     : var(--at-color-blue);
  
  --at-mail-item-height             : 28px;
  --at-mail-grid-border             : 0px solid transparent;
  
  /* Tabs */
  --at-tab-line-color               : var(--at-color-blue);
  
  /* Panel Dividers */
  --at-div-size                     : 5px;
  --at-div-color                    : var(--at-color-white-3);
  
  /* Message Panel */
  --at-message-warning-bg-color     : var(--at-color-blue-2);
  --at-message-warning-fg-color     : var(--at-color-black);
  
  /*
    --lwt-accent-color -> background at the top of the window
  */
  
  /* Calendar*/
  --at-calendar-grid-color         : var(--at-color-gray-2);
  --at-calendar-grid-color-2       : var(--at-color-gray);
}


/* ------------------------------------------------------------------------------------------------*/
/* General Interface */
/* ------------------------------------------------------------------------------------------------*/
*{
  font-family: var(--at-font-family);
}


#messengerWindow {
 font-size              : var(--at-text-base)      !important;
  --lwt-tab-line-color  : var(--at-tab-line-color) !important;
  /*--lwt-accent-color    : var(--at-gray)           !important;*/
}


/* ------------------------------------------------------------------------------------------------*/
/* Folder Panel                                                                                    */
/* ------------------------------------------------------------------------------------------------*/
#folderTree {
  /*background-color: var(--tm-bg-color) !important;*/
}

#folderTree > treechildren {
  font-size           : var(--at-text-base) !important;
  --new-folder-color  : var(--at-new-mail-folder-color) !important;
}

#folderTree > treechildren::-moz-tree-row {
  height              : var(--at-folder-item-height) !important;
  min-height          : var(--at-folder-item-height) !important;
}

#folderTree > treechildren::-moz-tree-row(selected) {
   border             : 1px solid transparent !important;
   background-color   : var(--at-color-blue) !important;
 }

#folderTree > treechildren::-moz-tree-cell {
   padding            : 0 8px !important;
 }

#folderTree > treechildren::-moz-tree-cell-text(selected) {
  color               : var(--at-color-white) !important; 
}


/* ------------------------------------------------------------------------------------------------*/
/* Mail Panel                                                                                      */
/* ------------------------------------------------------------------------------------------------*/
#threadTree > treechildren {
  font-size         : var(--at-text-base) !important;

} 

#threadTree > treechildren::-moz-tree-row {
  height            : var(--at-mail-item-height) !important;
  min-height        : var(--at-mail-item-height) !important;
  border            : var(--at-mail-grid-border) !important;
} 

#threadTree > treechildren::-moz-tree-row(odd) {
/*   border-bottom     : var(--at-mail-grid-border) !important;
  border-top        : var(--at-mail-grid-border) !important; */
  background-color  : var(--at-mail-grid-color)  !important;
  
}


#threadTree  treechildren::-moz-tree-row(selected) {
  background-color    : var(--at-mail-item-selected-bg-color) !important;
  color               : var(--at-mail-item-selected-fg-color) !important;
}


#threadTree  treechildren::-moz-tree-row(hover) {
  color               : var(--at-white) !important; 
  background-color    : var(--at-mail-item-hover-bg-color)  !important;
} 

#folderTree > treechildren::-moz-tree-cell-text(selected, hover) {
  color               : var(--at-white) !important; 
}



/* ------------------------------------------------------------------------------------------------
  Pane Splitters                                                                                 

  - Thicker splitter easier to grab for resizing

/* ------------------------------------------------------------------------------------------------*/
#threadpane-splitter {
  /* same size whether is vertical or horizontal */
  height          : var(--at-div-size)  !important;
  width           : var(--at-div-size)  !important;
  background-color: var(--at-div-color) !important;
  border: 2px !important;
  margin-inline-start: 0px !important;
}


#folderpane_splitter {
  width           : var(--at-div-size)  !important;
  background-color: var(--at-div-color) !important;
  border: 2px !important;
  margin-inline-start: 0px !important;
}


/* ------------------------------------------------------------------------------------------------*/
/*  Mail Panel                                                                                     */
/* ------------------------------------------------------------------------------------------------*/
#msgHeaderView {
  font-size: 14px !important;
  background-color: -moz-dialog !important;
  border-bottom: 0 !important;
}

#messagepaneboxwrapper {
  background-color: -moz-dialog !important;
}

#messagepanebox {
  margin: 5px 0 0 0 !important;
  background-color: -moz-dialog !important;
  padding: 0 !important;
  border-bottom: 0 !important;
}

#messagepanewrapper {
margin: 20px 20px 0 20px !important;

}

#messagepane {
  margin:5px 10px !important;
}

#mail-notification-top {
  font-size: 13px !important;
}

#expandedfromRow {
  margin-top:14px;
}


toolbarbutton.toolbarbutton-1.message-header-view-button{
  border:0px solid transparent !important;
}

[type=warning] {
  --message-bar-background-color  : var(--at-message-warning-bg-color) !important;
  --message-bar-text-color        : var(--at-message-warning-fg-color) !important;; 
  --message-bar-icon-url          : var(--warn-icon-url);
}

/* notification-message {
  background-color: #ff0000 !important;
} */

/* ------------------------------------------------------------------------------------------------*/
/*  Multimessage                                                                                   */
/* ------------------------------------------------------------------------------------------------*/
#message_list {
  line-height: 10 !important;
 
}

#multimessage {
  line-height: 1.5 !important;
}


/* ------------------------------------------------------------------------------------------------*/
/*  Tabs                                                                                           */
/* ------------------------------------------------------------------------------------------------*/
#tabs-toolbar {
  margin-top: 10px !important;
  margin-left: 10px !important;
  text-align: center;
}

#tabmail-tabs {
  font-size: var(--at-text-sm) !important;
  font-weight: bold !important;
}
/* ------------------------------------------------------------------------------------------------*/
/*  Attachment Bar */
/* ------------------------------------------------------------------------------------------------*/
#attachmentBar {
  font-size : var(--at-text-base) !important;
}


/* ------------------------------------------------------------------------------------------------/
    Calendar

    Goal: Main design goal is to soften grid lines and update the colour palette
 
    - Grid lines softened
    - Thicker splitter easier to grab for resizing
   ------------------------------------------------------------------------------------------------*/

:root{
  --viewWeekendBackground        : transparent !important;
  --viewHeaderSelectedBackground : transparent !important;
  --viewDayBoxSelectedBackground : transparent !important;
  --viewOffTimeBackground        : transparent !important;
}

calendar-header-container {
  border-left: 1px solid var(--at-calendar-grid-color) !important;
  border-bottom: 1px solid var(--at-calendar-grid-color-2) !important;
  margin-left: -1px !important;
  
}

.multiday-hour-box-container{
  border:0px solid !important;
}

.multiday-hour-box {
  color         : var(--at-calendar-grid-color-2) !important;
  border        : 1px var(--at-calendar-grid-color) solid !important;
  margin-top    : -1px !important;
  margin-bottom : -1px !important;
  margin-left   : -1px !important;
  margin-right  : -1px !important;
}

.multiday-hour-box .multiday-hour-box-off-time {
  border: 1px var(--at-calendar-grid-color) solid !important;
  margin-top: -1px !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
}

.multiday-header-corner {
  border-right:0px transparent solid !important;
}

.multiday-timebar .multiday-hour-box-container {
  border-right: 0px transparent solid !important;
}

.multiday-hour-box .multiday-timebar-time {
  color: var(--at-calendar-grid-color-2) !important;
}


.day-column-container {
  border:0px transparent !important;
  
}

.day-column-heading {
  font-weight : normal !important;
  font-size   : var( --at-text-base) !important;
  color       : var(--at-calendar-grid-color-2) !important;
  border      : 0px transparent !important;
}

/* .day-column-heading .day-column-selected{
  background-color: var(--at-calendar-grid-color-2) !important;
  color: var(--at-white) !important;
}
 */


#calsidebar_splitter {
  height          : var(--at-div-size)  !important;
  width           : var(--at-div-size)  !important;
  background-color: var(--at-div-color) !important;
  border: 2px !important;
  margin-inline-start: 0px !important;
}

#view-box {
  border: 0px solid !important;
}


/* ------------------------------------------------------------------------------------------------*/


